.account {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.7rem 0.5rem;
}
.account:hover{
    border-radius: 2px;
    border-color: white;
}
.account_hint {
    display: flex;
    font-size: 0.7rem;
  }
.account_title {
    font-weight: bold;
    font-size: 0.9rem;
  }
.account_arrow {
    color: #cccccc;
    margin-bottom: -0.5rem;
  }
  .link, .link:hover{
    color: white;
  }
  @media (max-width: 768px) {
    .account {
        display: flex;
        justify-content: center;
    }
    .account_hint {
        display: block;
        justify-content: center;
    }
    .account_arrow {
        display: none;
    }
  }
