.h-cart {
    border: 1px solid transparent;
    padding: 0.7rem 0.5rem;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    
}
.h-cart:hover{
    border-radius: 2px;
    border-color: white;
    color: white;
}
  
.h-cart_count {
    font-weight: bolder;
    color: #f1c557;
    margin-left: 0.3rem;
    font-size: 1.4rem;
}
@media (max-width: 768px) {
    .h-cart {
        display: flex;
        justify-content: center;
    }
    .h-cart_count {
        display: block;
        justify-content: center;
    }
  }