.navbar{
    height: 4rem;
    width: 100%;
    background-color: #141921;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .navbar {
        height: 5rem;
        justify-content: space-between; 
    }
    
    .navbar-toggler {
        margin-right: 1rem; 
    }

    .collapse.navbar-collapse {
        background-color: #141921;
        position: fixed;
        top: 5rem; 
        left: 0;
        width: 100%;
        z-index: 1000; 
    }
    
    .navbar.collapsed {
        height: auto; 
    }
    
    .navbar.collapsed .navbar-collapse {
        display: none; 
    }
}
